*{
  margin: 5px;
  padding: 0px;
  font-size: 22px;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  h1{
  font-family: Arial, Helvetica, sans-serif;
  color: rgba(211, 11, 4, 0.646);
  font-size: 45px;
  text-align: center;
  margin-top: 30px;
  }
  
  a {
    color: #100404;
    text-decoration: none;
  }

  a:hover {
    color: crimson;
  }

  /* .post-title{
    text-align: center;
  
  } */
  .container{
    display: block;

  }
  
  table {
  padding: 20px;
  text-align: center;
  border-collapse: collapse;
  border: 1px solid black;
  margin-left:auto; 
  margin-right:auto;
  }

  form{
      border: 1px solid;
      width: 600px;
      text-align: center;
  }
  .users{
      align-items: center; 
      margin-top: 50px;
      margin-bottom: 100px;
  }
  
  .post {
      text-align: left;
  }
  
  .postTable{
      margin: 0%;
      padding: 30px;
      margin-left:auto; 
      margin-right:auto;
      max-width: 1300px;
  }

  .postTable tr:nth-child(even){
    background-color:#e3615d;
  }

  td{
      border: 1px solid black;
      padding: 10px;
  }

  th{
      color: brown;  
      padding: 10px;
  }
  
  tr{
      border: 1px solid black;
  }
  h4{
      font-weight: bold;
  }

input[type=text]
{
  padding: 10px;
  border-radius: 3px;
}

.postform{
  margin-left:auto; 
  margin-right:auto;
  border-style: none;
}

ul{
  list-style: none;
}
.wrapper{
  width:1200px;
  margin: 0 auto;
  padding: 0 10px ;
}

.rouge{
  color: #100404;
  font-weight: bold;
}

header{
  height: 120px;
}

header h1{
  float: left;
  margin-top: 32px;
}

header nav{
  float: right;
  margin-top: 50px;
  align-items: center;
}
header nav ul li{
  display: inline-block;
  justify-content: space-around;
  align-items: center;
}

header nav ul li a{
  text-transform: uppercase;
  font-weight: bold;
  color: #100404;
}
.create{
  height: 50 ;
  color:#e3615d ;
  width: 50 ;
  padding: 15px;
}
button{
  padding: 5px;
}
